<!DOCTYPE html>
<html>
<head>
    <title>MP3 Quiz</title>
</head>
<body>
    <h1>MP3 Quiz</h1>

    <form action="/submit" method="post">
        <p>What does the "MP" stand for in MP3?</p>

        <input type="radio" name="answer" value="Music Player"> Music Player<br>
        <input type="radio" name="answer" value="Multi Pass"> Multi Pass<br>
        <input type="radio" name="answer" value="Micro Point"> Micro Point<br>
        <input type="radio" name="answer" value="Moving Picture"> Moving Picture<br>

        <br>
        <input type="submit" value="Submit Answer">
    </form>
</body>
</html>


