body {
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    text-align: center;
}

li {
    text-decoration: none;
    list-style: none;
    margin: 10px;
}

button {
    margin: 10px;
}

input {
    margin: 10px;
}

.file-item {
    background-color: #edf2fb;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}
a {
    margin:5px
}

.nb{
    text-align: center;
    align-items: center;
    width: 500px;
}