{% include 'navbar.html' %}
    
    <form method="POST" enctype="multipart/form-data" action="{{ url_for('upload_and_list_files') }}">
        <input class="form-control" type="file" name="file">
        <!-- checking for flash messages -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                
                        {% for message in messages %}
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            <strong>{{ message }}</strong> 
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                          </div>
                        {% endfor %}
                
            {% endif %}
        {% endwith %}
        <input class="btn btn-primary" type="submit" value="Upload">
    </form>

    <h2>My Files</h2>
    <ul>
        {% for file in files %}
            <li class="file-item">
                <div>
                    <span class="fs-3">{{ file[1] }}</span>
                <div id="{{ file[1] }}_details" style="display: none; ">
                    <p>Name: <span id="{{ file[1] }}_name"></span></p>
                    <p>Uploaded At: <span id="{{ file[1] }}_timestamp"></span></p>
                    <p>Size: <span id="{{ file[1] }}_size"></span> KB</p>
                </div>
                </div>
                <div>
                    <div class="alert alert-warning alert-dismissible fade show" role="alert" style="display: none;" id="rename-error">
                        <strong>Please enter new file name</strong> 
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                      </div>
                    <input type="text" id="{{ file[1] }}_rename" style="display: none;" placeholder="Enter New File Name" >
                    <a id="{{ file[1] }}_save"onclick="renameFile('{{ file[1] }}')" style="display: none;" class="btn btn-success">Save</a>
                    <a href="{{ url_for('download_file', filename=file[1]) }}" download class="btn btn-primary">Download</a>
                    <a onclick="fetchDetails('{{ file[1] }}')" class="btn btn-primary">Details</a>
                    <a onclick="toggleRenameInput('{{ file[1] }}')" class="btn btn-primary">Edit</a>
                    <a onclick="deleteFile('{{ file[1] }}')" class="btn btn-danger">Delete</a>
                    
                </div>
            </li>
        {% endfor %}
    </ul>

    <script>
        // call /details endpoint to get file details
        function fetchDetails(filename) {
            const detailsDiv = document.getElementById(filename + '_details');
            const nameSpan = document.getElementById(filename + '_name');
            const timestampSpan = document.getElementById(filename + '_timestamp');
            const sizeSpan = document.getElementById(filename + '_size');
    
            // Check the current display style of the details div
            if (detailsDiv.style.display === 'none') {
                // If it's hidden, fetch the details and show the div
                fetch(`/details/${filename}`)
                    .then(response => response.json())
                    .then(data => {
                        nameSpan.textContent = data.filename;
                        timestampSpan.textContent = data.timestamp + " UTC";
                        sizeSpan.textContent = data.size;
                        detailsDiv.style.display = 'block';
                    })
                    .catch(error => console.error("Data error"));
            } else {
                // If it's visible, hide the div
                detailsDiv.style.display = 'none';
            }
        }

        // function to display/toggle details
        function toggleRenameInput(filename) {
        const renameInput = document.getElementById(filename + '_rename');
        const renameButton = document.getElementById(filename + '_save');

        // Toggle input field and Save button
        if (renameInput.style.display === 'none' || renameInput.style.display === '') {
            renameInput.style.display = 'block';
            renameButton.style.display = 'block';
        } else {
            renameInput.style.display = 'none';
            renameButton.style.display = 'none';
        }
    }

    // function to call /edit endpoint to update filename
    function renameFile(filename) {
    const editInput = document.getElementById(filename + '_rename');
    const newFilename = editInput.value;
    
        // Send a PUT request to edit the file name on the server
        fetch(`/edit/${filename}`, {
        method: 'PUT',
        body: JSON.stringify({ new_filename: newFilename }),
        headers: {
            'Content-Type': 'application/json',
    },
    })
    .then(response => {
        if (response.status === 400) {
            const renameError = document.getElementById("rename-error")
            renameError.style.display = "block";
            throw new Error("No new file name provided")
        } else {
            return response.json();
        }
    })
    .then(data => {
        console.log(data)
        // checking for empty data object
        if (Object.keys(data).length !== 0) {
            
            toggleRenameInput(data["filename"]);
        }
        window.location.href = `/files`; 

    })
    .catch(error => {
        console.log(error)
    });
}

    // function to call /delete endpoint to delete file
    function deleteFile(filename) {
        const confirmation = confirm('Are you sure you want to delete this file?');

        if (confirmation) {
            console.log("fetvhoing delete")
            fetch(`/delete/${filename}`, {
                method: 'DELETE',
            })
            .then(response => {
                if (response.status === 200) {
                    window.location.href = '/files';
                }
            })
            .catch(error => console.error("Error while deleting file:", error));
        }
    }
    
    </script>
    
